html, body {
	font-family: 'Century Gothic';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 44px;
    background: #C6B299;
    margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;

}

.tab4 {
    display: inline-block;
    margin-left: 70px;
}

input {
    background: #FFFFFF;
    border-radius: 10px;
}

textarea {
    background: #FFFFFF;
    border-radius: 10px;
}

a {
	color: #685A49;
	text-decoration: none;
}
a:hover {
	color: #FFFFFF;
	text-decoration: underline;
}

.clear {clear: both;}

h2 {
    margin-left: 35px;
    font-family: 'Century Gothic';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;

    text-align: left;
    text-transform: capitalize;

    color: #000000;
}

ul.mainmenu {
	list-style: none;
	background: linear-gradient(180deg, #FFFFFF 49.64%, rgba(255, 255, 255, 0) 117.99%);
	height: 100px;
	margin: -12px;
	padding: 0;
	color: #fdc073;
	font-size: 20px;
	overflow: hidden;
	background-image: url(../image/cookie3.png);
	width: 1547px;
}
ul.mainmenu li {
	float: left;
	margin: 35px 40px 0 50px;
}
ul.mainmenu li.last {float: right;}

ul.mainmenu li a {
	color: #000000;
	text-decoration: none;
}
ul.mainmenu li a:hover {
	color: #FDA83D;
}

div.content {
	margin: 10px;
}

.form-contact label {
	display: inline-block;
}

.form-contact p {
    margin: 10px 0 10px 0px;
}

.form-contact input[type=submit]:hover {
    font-size: 16px;
    background: #685A49;
    color: #FFFFFF;
}

.form-contact input[type=submit], textarea {
	font-size: 16px;
}

.flash {padding: 10px;}
.flash.success {
	border: 1px solid #21DB56;
	background: #AEFFC5;
	border-radius: 20px;
}
.flash.error {
	border: 1px solid #FF4343;
	background: #FF9C9C;
	border-radius: 20px;
}

ul.list-posts {
	list-style: none;
	margin: 0;
	padding: 0;
	max-width: 600px;
}
ul.list-posts li {
	margin: 20px 0px 0px 32px;
	background: rgba(255, 255, 255, 0.5);
	border-radius: 20px;
}
ul.list-posts .title {
	margin: 0px 0px -50px 0px;
	padding: 5px;
    background: #FFFFFF;
    border-radius: 20px;
    background-image: url(../image/cookie2.png);
}

ul.list-posts li p a{
    margin-left: 9px;
    font-family: 'Century Gothic';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    text-transform: capitalize;

    color: #000000;
}

ul.mainmenu li a:hover {
    color: #FFFFFF;
}

ul.list-posts .annonce {
	margin: 0;
	padding: 80px 5px 10px 5px;
	color: #685A49;
}

.profile-ava {
	width: 170px;
	text-align: center;
	overflow: hidden;
	padding: 10px;
}

.profile-ava img {max-width: 170px; height: auto;}

.profile-load {
	margin-top: 10px;
	overflow: hidden;
	max-width: 170px;
}

.profile-load input[type=submit] {
	width: 100%;
	font-size: 18px;
}

.profile-load input[type=submit]:hover {
    background: #685A49;
    color: #FFFFFF;
	width: 100%;
	font-size: 18px;
}

.profile-load input[type=file] {
	width: 100%;
	font-size: 18px;
}

.profile-load p {
	padding: 0;
	margin: 5px 0 0 0;
}

.profile-panel {padding: 0 0 0 10px;}

ul.profile-info {
	list-style: none;
	margin: 10px 0 0 0;
	padding: 0;
	color: #000000;
	text-decoration: none;
}
ul.profile-info li {margin-top: 10px;}