<!DOCTYPE html>
<html>
<head>
    <link type="text/css" href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet"/>
    {% block title -%}
    {% if title %}
    <title>Password Manager - {{title}}</title>
    {% else %}
    <title>Password Manager</title>
    {% endif %}
    {% endblock %}
</head>
<body>
{% block content -%}
{%- block mainmenu -%}
<ul class="mainmenu">
    {% for p in menu %}
    <li><a href="{{p.url}}">{{p.title}}</a></li>
    {% endfor %}
    <img class="tab4" src="static/image/cookie.png" width="110px" height="105px">
</ul>
<hr color="#685A49">
<div class="clear"></div>
<div class="content">
    {% endblock mainmenu -%}
    {% if title -%}
    <h1>{{title}}</h1>
    <hr color="#685A49" width="100%">
    {% else -%}
    <h1>Password Manager</h1>
    <hr color="#685A49" width="100%">
    {% endif -%}
    {% endblock -%}
</div>
</body>
</html>